{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_category_index'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'category_index'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}
        {% if is_granted('ROLE_ADMIN') %}

            <a href="{{ url('category_create') }}" class="btn btn-primary">
                {{ 'action_create'|trans }}
            </a>

        {% endif %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        {#    {% if notes is defined and notes|length %}#}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label_id'|trans, 'category.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_title'|trans, 'category.title') }}</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>{{ 'label_actions'|trans }}</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for category in pagination.items %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.title }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <a href="{{ url('category_edit', {id: category.id}) }}" title="{{ 'action_edit'|trans }}">
                            {{ 'action_edit'|trans }}
                        </a>

                        {% if not category.notes|length %}
                        <a href="{{ url('category_delete', {id: category.id}) }}" title="{{ 'action_delete'|trans }}">
                            {{ 'action_delete'|trans }}
                        </a>
                        {% endif %}

                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}