{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_task_index'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'task_index'|trans }}</h1>

        <a href="{{ url('task_create') }}" class="btn btn-primary" >
            {{ 'action_create'|trans }}
        </a>


    {% if pagination is defined and pagination.items|length %}



        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label_id'|trans, 'task.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_register'|trans, 'task.register.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_content'|trans, 'task.content') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_priority'|trans, 'task.priority') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_deadline'|trans, 'task.deadline') }}</th>
                <th>{{ 'label_actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for task in pagination.items %}
                <tr>
                    <td>{{ task.id }}</td>
                    <td><a href="{{ url('task_index', {'filters_register_id' : task.register.id}) }}" title="{{ task.register.title }}">
                            {{ task.register.title }}
                        </a></td>
                    <td>{{ task.content }}</td>
                    <td>{{ task.priority }}</td>
                    <td>{{ task.deadline|date('Y/m/d') }}</td>

                    <td>
                        <a href="{{ url('task_show', {id: task.id}) }}" title="{{ 'action_show'|trans }}">
                            {{ 'action_show'|trans }}
                        </a>
                        <a href="{{ url('task_edit', {id: task.id}) }}" title="{{ 'action_edit'|trans }}">
                            {{ 'action_edit'|trans }}
                        </a>
                        <a href="{{ url('task_delete', {id: task.id}) }}" title="{{ 'action_delete'|trans }}">
                            {{ 'action_delete'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}