{% extends 'base.html.twig' %}

{% block title %}
    Task view
{% endblock %}

{% block body %}
    <h1>View record</h1>
    {% if task is defined and task|length %}
        <table class="table table-striped">
            <tr>
                <th>{{ 'label_id'|trans }}</th>
                <td>{{ task.id }}</td>
            </tr>
            <tr>
                <th>{{ 'label_content'|trans }}</th>
                <td>{{ task.content }}</td>
            </tr>
            <tr>
                <th>{{ 'label_priority'|trans }}</th>
                <td>{{ task.priority }}</td>
            </tr>
            <tr>
                <th>{{ 'label_deadline'|trans }}</th>
                <td>{{ task.deadline|date('Y/m/d') }}</td>
            </tr>

    {% else %}
        <p>
            {{ 'message_no_record'|trans }}
        </p>
    {% endif %}
        <p>
            <a href="{{ url('task_index', {'filters_register_id' : task.register.id}) }}" title="{{ 'action_back_to_list'|trans }}">
                {{ 'action_back_to_list'|trans }}
            </a>
        </p>
{% endblock %}