{% extends 'base.html.twig' %}

{% block title %}
    Task view
{% endblock %}

{% block body %}
    <h1>View record</h1>
    {% if task is defined and task|length %}
        <table class="table table-striped">
            <tr>
                <th>{{ 'label_id'|trans }}</th>
                <td>{{ task.id }}</td>
            </tr>
            <tr>
                <th>{{ 'label_register'|trans }}</th>
                <td>{{ task.register.title }}</td>
            </tr>
            <tr>
                <th>{{ 'label_content'|trans }}</th>
                <td>{{ task.content }}</td>
            </tr>
            <tr>
                <th>{{ 'label_priority'|trans }}</th>
                <td>{{ task.priority }}</td>
            </tr>
            <tr>
                <th>{{ 'label_deadline'|trans }}</th>
                <td>{{ task.deadline|date('Y/m/d') }}</td>
            </tr>

        <a href="{{ url('task_edit', {id: task.id}) }}" title="{{ 'action_edit'|trans }}" class="btn btn-link">
            {{ 'action_edit'|trans }}
        </a>

        <a href="{{ url('task_delete', {id: task.id}) }}" title="{{ 'action_delete'|trans }}" class="btn btn-link">
            {{ 'action_delete'|trans }}
        </a>

    {% else %}
        <p>
            {{ 'message_no_record'|trans }}
        </p>

    {% endif %}


        <a href="{{ url('task_index') }}" class="btn btn-link">
            {{ 'action_back_to_tasks'|trans }}
        </a>

        <a href="{{ url('register_index') }}" class="btn btn-link">
            {{ 'action_back_to_registers'|trans }}
        </a>

{% endblock %}