{% extends 'base.html.twig' %}

{% block title %}
    Task view
{% endblock %}

{% block body %}
    <h1>View record</h1>
    {% if task is defined and task|length %}
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <td>{{ task.id }}</td>
            </tr>
            <tr>
                <th>Created at</th>
                <td>{{ task.createdAt }}</td>
            </tr>

            <tr>
                <th>Content</th>
                <td>{{ task.content }}</td>
            </tr>
            <tr>
                <th>Priority</th>
                <td>{{ task.priority }}</td>
            </tr>
            <tr>
                <th>Deadline</th>
                <td>{{ task.deadline }}</td>
            </tr>

    {% else %}
        <p>
            Record not found.
        </p>
    {% endif %}
        <p>
            <a href="{{url('task_index') }}" title="Back to the list">
                back to the list
            </a>
        </p>
{% endblock %}