{% extends 'base.html.twig' %}

{% block title %}
    Registers
{% endblock %}

{% block body %}
    <h1>Registers</h1>

    <button>
        <a href="{{ url('register_create') }}">
            {{ 'action_create'|trans }}
        </a>
    </button>
    {% if pagination is defined and pagination.items|length %}


        <br>
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        {#    {% if notes is defined and notes|length %}#}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label_id'|trans, 'register.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_title'|trans, 'register.title') }}</th>
                <th>{{ 'label_category'|trans }}</th>
                <th>{{ 'label_actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for register in pagination.items %}
                <tr>
                    <td>{{ register.id }}</td>
                    <td>{{ register.title }}</td>
                    <td><a href="{{ url('register_index', {'filters_category_id' : register.category.id}) }}" title="{{ register.category.title }}">
                            {{ register.category.title }}
                        </a></td>
                    <td>

                        <a href="{{ url('task_index', {'filters_register_id' : register.id}) }}" title="{{ register.id }}">
                            {{ 'action_show'|trans }}
                        </a>

                        <a href="{{ url('register_edit', {id: register.id}) }}" title="{{ 'action_edit'|trans }}">
                            {{ 'action_edit'|trans }}
                        </a>

                        {% if not register.tasks|length %}
                        <a href="{{ url('register_delete', {id: register.id}) }}" title="{{ 'action_delete'|trans }}">
                            {{ 'action_delete'|trans }}
                        </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        <p>
            Empty list!
        </p>
    {% endif %}
{% endblock %}