{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_note_details'|trans({'%id%': note.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'note_details'|trans({'%id%': note.id|default('')}) }}</h1>
    {% if note is defined and note|length %}
        <table class="table table-striped">
        <tr>

            <th>{{ 'label_id'|trans }}</th>
            <th>{{ 'label_title'|trans }}</th>
            <th>{{ 'label_created_at'|trans }}</th>
            <th>{{ 'label_updated_at'|trans }}</th>
            <th>{{ 'label_category'|trans }}</th>
        </tr>
        <tr>
            <td>{{ note.id }}</td>
            <td>{{ note.title }}</td>
            <td>{{ note.createdAt|date('Y/m/d') }}</td>
            <td>{{ note.updatedAt|date('Y/m/d') }}</td>
            <td>{{ note.category.title }}</td>

        </tr>
        <tr>
            <th>{{ 'label_content'|trans }}</th>
            <td colspan="4">{{ note.content }}</td>
        </tr>



    {% else %}
        <p>
            {{ 'message_no_record'|trans }}
        </p>
    {% endif %}
    <p>
        <a href="{{url('note_index') }}" title="{{ 'action_back_to_list'|trans }}" class="btn btn-link">
            {{ 'action_back_to_list'|trans }}
        </a>

        <a href="{{ url('note_edit', {id: note.id}) }}" title="{{ 'action_edit'|trans }}" class="btn btn-link">
            {{ 'action_edit'|trans }}
        </a>
        <a href="{{ url('note_delete', {id: note.id}) }}" title="{{ 'action_delete'|trans }}" class="btn btn-link">
            {{ 'action_delete'|trans }}
        </a>
    </p>
{% endblock %}