<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ asset('image/ikona-apka.png') }}">
    <title>{% block title %}Notes organizer{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css">
    {% endblock %}
</head>
<body>
<header>
    {% block header %}
        <img src="{{ asset('image/logo_apka-removebg-preview.png') }}" width:13vw >
        <nav>
            <ul class="vertical-menu">
                <li><a href="{{ url('register_index') }}" title="Registers">Registers</a></li>
                <li><a href="{{ url('note_index') }}" title="Notes">Notes</a></li>
                <li><a href="{{ url('category_index') }}" title="Categories">Categories</a></li>
                <li><a href="#">Tags</a></li>
            </ul>
        </nav>

        <p id="foot">© Copyright Joanna Micek</p>
    {% endblock %}
</header>

<div class="container-fluid">
    {% block body %}{% endblock %}
</div>
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>
