{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_tag_index'|trans }}
{% endblock %}

{% block body %}
    <h2>{{ 'tag_index'|trans }}</h2>
    {% if pagination is defined and pagination.items|length %}
{#        <button><a href="{{ url('tag_create') }}" title="{{ 'action_create'|trans }}">{{ 'action_create'|trans }}</a></button>#}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label_id'|trans, 'tag.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_title'|trans, 'tag.title') }}</th>
                <th>{{ 'label_actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for tag in pagination.items %}
                <tr>
                    <td>{{ tag.id }}</td>
                    <td>{{ tag.title }}</td>
                    <td>
                        {% if is_granted('ROLE_ADMIN') %}
{#                        <a href="{{ url('tag_show', {id: tag.id}) }}" title="{{ 'action_show'|trans }}">#}
{#                            {{ 'action_show'|trans }}#}
{#                        </a>#}

                        {% if not tag.notes|length %}
                            <a href="{{ url('tag_delete', {id: tag.id}) }}" title="{{ 'action_delete'|trans }}" id="op">
                                {{ 'action_delete'|trans }}
                            </a>
                        {% endif %}
                        {% else %}
{#                            <a href="{{ url('tag_show', {id: tag.id}) }}" title="{{ 'button_view'|trans }}">#}
{#                                {{ 'button_view'|trans }}#}
{#                            </a>#}
                            <a href="{{ url('tag_edit', {id: tag.id}) }}" title="{{ 'action_edit'|trans }}" id="op">
                                {{ 'action_edit'|trans }}
                            </a>
                            {% if not tag.notes|length %}
                                <a href="{{ url('tag_delete', {id: tag.id}) }}" title="{{ 'action_delete'|trans }}" id="op">
                                    {{ 'action_delete'|trans }}
                                </a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}

